* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #607d8b;
}

.container {
  position: relative;
  top: 50px;
}

.cup {
  position: relative;
  width: 350px;
  height: 200px;
  background-color: lime;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.cup::after {
  position: absolute;
  bottom: -30px;
  left: 5%;
  content: "";
  width: 90%;
  height: 100px;
  border-radius: 50%;
  background-color: lime;
}

.top {
  position: absolute;
  top: -21px;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to right, #a9fda9, lime);
  border-radius: 60%;
}

.circle {
  position: absolute;
  top: 5px;
  right: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left, #a9fda9, lime);
  border-radius: 60%;
  overflow: hidden;
}

.handle {
  position: absolute;
  top: 5px;
  right: -35px;
  width: 100px;
  height: 180px;
  border: 20px solid #000;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(20deg);
  border-color: lime;
}

.tea {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: radial-gradient(#007bff, #93c7ff); */
  background: radial-gradient(white, #93c7ff);
  border-radius: 50%;
  transform: rotate(-1deg);
}

.plate {
  position: absolute;
  top: 50px;
  width: 550px;
  height: 250px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: limegreen;
}

.plate::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to left, limegreen, rgb(57, 190, 57));
}

.plate::after {
  position: absolute;
  content: "";
  left: 10%;
  top: 100px;
  width: 80%;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
  /* background: red; */
  top: -50px;
}

.vapour span {
  position: relative;
  width: 20px;
  height: 100px;
  background: #fff;
  margin: 0 2px 50px;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
    opacity: 1;
  }
  100% {
    transform: translateY(-250px) scaleX(10);
    opacity: 0;
  }
}
